#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-btn {
  padding: 2em;
  background-color: white;
  border-radius: 10%;
}

.nav-btn:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.nav-btn.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
